.base-form {
    border: 1.5px solid #9f9b9b;
    padding: 33px 28px;
        border-radius: 10px;
    margin-top: 50px;
    form {
        .form-heading {
            font-size: 42px;
            font-family: sans-serif;
            font-weight: 600;
            color: #343232;
            text-align: center;
            margin-bottom: 26px;
        }
        .form-group {
            margin-bottom: 12px;

            label {
                margin-bottom: 6px;
            }
            .form-control {
                &:focus {
                    color: var(--bs-body-color);
                    background-color: var(--bs-body-bg);
                    border-color: #86b7fe;
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
        .btn-parent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .login-with-google-btn {
            padding: 12px 12px 12px 12px;
            border: none;
            border-radius: 3px;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
            color: #757575;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
