<div class="section" *ngIf="products.length!= 0">
    <div class="container table-responsive py-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product No.</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of products;  let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td><img style="width: 120px;" src="{{items.url}}" alt=""></td>
                    <td>{{items.itemName}}</td>
                    <td>{{items.itemPrice}}</td>
                    <td>
                        <button (click)="removeItem(items)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>



            </tbody>
        </table>

        <div class="itembtn">
            <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button>
            <button routerLink="/user/home" class="btn btn-primary">Shop More</button>
            <button routerLink="/user/checkout" class="btn btn-success">Checkout</button>
            <strong>Total : Rs: {{grandTotal}}</strong>
        </div>
    </div>
</div>

<section *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/user/home" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</section>










