<section class="checkout-secion">
    <div class="container">
        <div class="main-head">
            <h2 class="heading"> Checkout</h2>
        </div>



        <div class="address-box">
            <div class="delivey-mod">
                <h2 class="number">1</h2>
                <p class="para">Select a delivery mode</p>
            </div>

            
                <div class="row">
                    <div class="col-md-5">
                        <div class="home-deliveryParent">
                        <div class="item-wrapper">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                            <div class="img-text">
                                <img alt="Pick Up Point" src="https://cdn.dmart.in/images/icons/pupModeIcon.png">
                                <p>Pick Up Point</p>
                            </div>
                            <div class="price">
                               <div class="cross-price">
                                <p>Flat ₹49.00</p>
                                <span>₹0</span>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>